.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}
.work-container{
    background-color:rgb(112, 124, 177) ;
}
.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px;
    padding-bottom: 5rem;
}
.project-card{
    background-color: rgb(14, 34, 123);
    padding: 1.2rem 1rem;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 26px;
}
.project-card img{
    width: 100%;
}
.project-title{
    color: #fff;
    padding: 1rem 0;
}
.project-details{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.project-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}
.btn_border{
    border-radius: 10px;
    width: 100%;
    text-align: center;
}
.project-btn .btn{
    padding: 0.5rem 1rem;
}



@media screen and (max-width:740px) {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}